{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        io.github.kotoba-lang/kototama
        {:git/url "https://github.com/kotoba-lang/kototama.git"
         :git/sha "faeeda914a8e3419e7c97f912ce1140a0a8ddb28"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps
         {io.github.cognitect-labs/test-runner
          {:git/tag "v0.5.1" :git/sha "dfb30dd"}
          io.github.kotoba-lang/compiler
          {:git/url "https://github.com/kotoba-lang/compiler.git"
           :git/sha "3a47501190d906cb0c3995025d2fe0309db47add"}
          io.github.kotoba-lang/abi
          {:git/url "https://github.com/kotoba-lang/abi.git"
           :git/sha "129b0b2fe26ddd1a3917132515bf1b903c7b763d"}
          io.github.kotoba-lang/io-multiformats
          {:git/url "https://github.com/kotoba-lang/io-multiformats.git"
           :git/sha "310724803db65840f00d2d98d7887f2b6a512bd3"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}
